// style guide https://bit.ly/3gifPkq
$color-white: #fff;
$color-black: #000;
$color-beige: #efe3dd; // "Human Body"
$color-blue: #5c89c7; // "DiabetesMine"

// THEME COLORS
$color-text-black: #231f20;
$color-error: #fe2626;
//
$color-gray: #dcdbdb;
$color-gray-dark: #918f8f;
$color-gray-medium: #bcbfc5;
$color-gray-light: #f0efef;
$color-gray-lighter: #e5e5ea;
$color-gray-lightest: #f7f7f7;
//
$color-cyan: #01adba;
$color-cyan-dark: #13737b;
$color-cyan-medium: #81b9bf;
$color-cyan-light: #c0dcdf;
$color-cyan-lighter: #e0edef;
$color-cyan-lightest: #ebf3f4;
//
$color-gold: #fcba44;
$color-gold-dark: #b07e25;
$color-gold-light: #f0dec1;
$color-gold-lighter: #f7efe0;
$color-gold-lightest: #fbf5ed;
//
$color-magenta: #e0218e;
$color-magenta-dark: #9b1561;
$color-magenta-medium: #e5b2cf;
$color-magenta-light: #f1d8e6;
$color-magenta-lighter: #faebf2;
$color-magenta-lightest: #fbf3f7;
//
$color-tangerine: #f0533a;
$color-tangerine-dark: #aa311f;
$color-tangerine-medium: #ecafa7;
$color-tangerine-light: #f5d7d3;
$color-tangerine-lighter: #faebe9;
$color-tangerine-lightest: #fbf3f1;
