// https://bit.ly/2RJeEjN
$font-primary: 'Proxima Nova', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-secondary: 'Proxima Nova Condensed', 'Helvetica Neue Condensed','Helvetica Neue', helvetica, arial, sans-serif;

// HEADINGS
// "used as page titles for special pages such as Category and Feature templates"
$h1-xl: 70px;
$h1-xl-xs: 42px;

$h1: 50px;
$h1-lh: 54px;
$h1-xs: 34px;
$h1-lh-xs: 38px;

$h2: 38px;
$h2-lh: 42px;
$h2-xs: 24px;
$h2-lh-xs: 32px;

$h3: 24px;
$h3-lh: 30px;
$h3-xs: 20px;
$h3-lh-xs: 26px;

$h4: 18px;
$h4-lh: 24px;
$h4-xs: 17px;
$h4-lh-xs: 23px;

// SUBHEADING ("intro deck")
$subheading: 28px;
$subheading-lh: 36px;
$subheading-xs: 22px;
$subheading-lh-xs: 30px;

// BODY COPY ("paragraph")
$body-font: 18px;
$body-font-lh: 26px;
$body-font-xs: 17px;

// DISCLAIMER ("small text")
$small: 14px;
$small-lh: 20px;

// ANCHOR JUMP LINKS ("article tabs")
$anchor-link: 20px;
$anchor-link-lh: 30px;
$anchor-link-xs: 16px;
$anchor-link-lh-xs: 24px;

// BUTTONS
$button-font: 18px;
$button-font-xs: 16px;

// FORMS
$form-label-font: 17px;
$form-placeholder-font: 17px;
$form-error-font: 13px;

// TABS
$tabs-font: 14px;

// SCROLL TO TOP
$scroll-font: 16px;

// BADGES
$badge-font-xs: 16px;
$badge-font: 18px;
$badge-price-xs: 20px;
$badge-price: 24px;
