@import '@globals/styles/utils';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $header-padding 0;
  border-bottom: $header-border;
}
//.header

.logo {
  width: 95px;
  margin: 0 auto;
  @include for(laptop) {
    width: 125px;
  }
}
//.logo

.nav {
  list-style-type: none;
  padding: 0;
}
